h1{color: #6200b3;}
h2{color: #fc2eff;}
h3{color: rgb(7, 137, 202);}
h4{color: Blueviolet;}
ul{color:#07075f}
body{background-color: #e0d8cd;}
ul{border: 1px solid red;
  border-top: ...
  border-bottom: ...
  border-right: ...
  border-left: ...
  border-radius: 5px}